.intro-header {
  text-align:center;
  /*vertical-align:middle;*/
  color:#f8f8f8;
  background:#000;
  background-size:cover;
  font-family:Lato;
  /*background-image:url(https://picsum.photos/1905/315?random&element=DIV);*/
  /*height:315px !important;*/
  height:250px;
}

@media (min-width: 576px) and (max-height: 1000px) {
  .intro-header {
    height:150px;
  }
}

@media (max-width: 575px) {
  .intro-header {
    height:100px;
  }
}

.intro-header.random-1 {
  background-image:url(https://picsum.photos/1905/250?random&1);
}

.intro-header.random-2 {
  background-image:url(https://picsum.photos/1905/250?random&2);
}

.intro-header.random-3 {
  background-image:url(https://picsum.photos/1905/250?random&3);
}

.intro-header .overlay {
  /*padding-top:100px;*/
  /*padding-bottom:50px;*/
  background:rgba(0,0,0,0.6);
  display:flex;
  height:100%;
  align-items:center;
}

.intro-message a {
  color:#fff !important;
}

.intro-message h1 {
  font-family:Lato;
  font-weight:300;
}

@media (max-width: 575px) {
  .intro-message h1 {
    font-size:2rem;
  }
}

.intro-message a:hover {
  text-decoration:none;
  color:rgba(255,255,255,0.6) !important;
}

.intro-message h3, .intro-message h4 {
  font-family:Lato;
  color:hsla(0, 100%, 100%, 0.6);
}

@media (max-width: 575px) {
  .intro-message h3, .intro-message h4 {
    font-size:1.25rem;
  }
}

.intro-message h3 a {
  color:rgba(255,255,255,0.8);
}

.intro-footer {
  text-align:center;
  background:#000;
  background-size:cover;
  background-image:url(https://picsum.photos/1905/282?random&element=FOOTER);
}

.intro-footer p {
  font-family:Lato;
  font-weight:400 !important;
  color:rgba(255,255,255,0.6) !important;
}

.intro-footer a, .intro-footer a:hover {
  font-weight:700 !important;
  color:rgba(255,255,255,0.8) !important;
}

.intro-footer a:hover {
  text-decoration:none;
  color:rgba(255,255,255,0.6) !important;
}

.intro-footer .footer-overlay {
  padding:50px 0px 25px 0px;
  background:rgba(0,0,0,0.6);
}

